<ion-header>
  <ion-toolbar>
      <ion-buttons slot="start">
          <ion-back-button></ion-back-button>
      </ion-buttons>
      <ion-title>Afegir Moto</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-item lines="none">
    <ion-input placeHolder="Marca" [(ngModel)]="marcaForm"></ion-input>
</ion-item>
<ion-item lines="none">
    <ion-input placeHolder="Model" [(ngModel)]="modeloForm"></ion-input>
</ion-item>
<ion-item lines="none">
    <ion-input placeHolder="Año" [(ngModel)]="anoForm"></ion-input>
</ion-item>
<ion-item lines="none">
    <ion-input placeHolder="Precio" [(ngModel)]="precioForm"></ion-input>
</ion-item>

<ion-button style="width: 100%;" (click)="addMoto();">Add Moto</ion-button>

</ion-content>
