<ion-header>
  <ion-toolbar>
      <ion-buttons slot="start">
          <ion-back-button></ion-back-button>
      </ion-buttons>
      <ion-title>Moto</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
      <ion-img width="80" height="80" src="{{ moto.foto }}"></ion-img>
      <ion-card-header>
          <ion-card-subtitle>{{moto.marca}}</ion-card-subtitle>
          <ion-card-title>{{moto.modelo}}</ion-card-title>
      </ion-card-header>

      <ion-card-content>
          Keep close to Nature's heart... and break clear away, once in awhile, and climb a mountain or spend a week in the woods. Wash your spirit clean.
      </ion-card-content>

      <ion-item>
          <ion-button color="warning" style="width: 100%;" (click)="presentAlertMultipleButtons(moto);">Delete Moto</ion-button>
      </ion-item>
  </ion-card>
</ion-content>