<ion-header [translucent]="true">
    <ion-toolbar>
        <ion-buttons slot="start">
            <ion-menu-button></ion-menu-button>
        </ion-buttons>
        <ion-title>
            Motos
        </ion-title>
    </ion-toolbar>
</ion-header>

<ion-menu side="start" menuId="custom" contentId="main" class="my-custom-menu">
    <ion-header>
        <ion-toolbar color="tertiary">
            <ion-title>Marcas</ion-title>
        </ion-toolbar>
    </ion-header>
    <ion-content>
        <ion-list>
            <ion-item (click)="getMarcaX('Ducati')">Ducati</ion-item>
            <ion-item (click)="getMarcaX('Yamaha')">Yamaha</ion-item>
            <ion-item (click)="getMarcaX('Honda')">Honda</ion-item>
            <ion-item (click)="getJson()"><b>Todas</b></ion-item>
        </ion-list>
    </ion-content>
</ion-menu>
<ion-router-outlet id="main"></ion-router-outlet>

<ion-content [fullscreen]="true">
    <ion-header collapse="condense">
        <ion-toolbar>
            <ion-title size="large">Blank</ion-title>
        </ion-toolbar>
    </ion-header>





    <ion-list>
        <ion-item *ngFor="let moto of motos;" (click)="detalle(moto)">
            <ion-thumbnail slot="start">
                <img src={{moto.foto}}>
            </ion-thumbnail>
            {{moto.modelo}}
        </ion-item>
    </ion-list>

    <ion-fab vertical="bottom" horizontal="end" slot="fixed" (click)="addMoto()">
        <ion-fab-button>
            <ion-icon name="add"></ion-icon>
        </ion-fab-button>
    </ion-fab>
</ion-content>